.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scrolling-container::-webkit-scrollbar {
  display: none; /* Esconde a barra de rolagem no Chrome, Safari e Opera */
}

.scrolling-container {
  -ms-overflow-style: none; /* Esconde a barra de rolagem no Internet Explorer e Edge */
  scrollbar-width: none; /* Esconde a barra de rolagem no Firefox */
}

.scrolling-container {
  padding-left: 2rem; /* Ajuste conforme necessário para o botão da esquerda */
  padding-right: 2rem; /* Ajuste conforme necessário para o botão da direita */
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff;
  border-radius: 9999px; /* Botões circulares */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.scroll-button-left {
  left: -2rem; /* Posiciona o botão da esquerda fora da área de rolagem */
}

.scroll-button-right {
  right: -2rem; /* Posiciona o botão da direita fora da área de rolagem */
}